html, body {
    height: 100%;
    margin: 0;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex; 
    gap: 70px; 
    width: 80%; 
}

.coluna {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    
}

button:hover{
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


