html, body {
    height: 100%;
    margin: 0;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #899c59;
    font-family:'Lucida Sans';
    
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 30px;
    max-width: 900px;
    width: 100%; 
    box-sizing: border-box;
}

.coluna {
    display: flex;
    flex-direction: column;
    flex: 1;
}

input, select, textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    min-height: 100px; 
}

button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #817e7e;
}




